.alert-box {
   max-width: 65.5rem;
   margin: auto;
}
.ui-menu .ui-menu-item {
	position: relative;
	margin: 0;
	padding: 3px 1em 3px .4em;
	cursor: pointer;
	min-height: 0;
}
.ui-menu .ui-menu-divider {
	margin: 5px 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-autocomplete {
    z-index:50;
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
    background: #009694;
    color: white;
}

.top-bar {
    background: #009694;
}
.top-bar-section li:not(.has-form) a:not(.button){
    background: #009694;
}
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    background: #009694;
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
    border-right: solid 1px #FFFFFF;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
        background: #2F9F9F;
}
.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
        background: #2F9F9F; }
.top-bar-section .has-dropdown > a:after {
        background: #009694; }
.top-bar-section {
             background: #009694; }
.ui-helper-hidden-accessible {
    display: none;
}
.top-bar-section ul li:hover:not(.has-form) > a {
    background: #009694;
}
.random-box {
    margin: 0;
    height: 30px;
    width: 130px;
}

ul.accordion {
    margin-left: 0!important;
}

tr.danie-dnia {
    background-color:rgba(0,150,148,0.1)!important;
}
