.alert-box {
   max-width: 65.5rem;
   margin: auto;
}
.ui-menu .ui-menu-item {
	position: relative;
	margin: 0;
	padding: 3px 1em 3px .4em;
	cursor: pointer;
	min-height: 0;
}
.ui-menu .ui-menu-divider {
	margin: 5px 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-autocomplete {
    z-index:50;
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
    background: #299C92;
    color: white;
}

.top-bar {
    background: #299C92;
}
.top-bar-section li:not(.has-form) a:not(.button) {
    background: #299C92;
}
.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
    border-right: solid 1px #FFFFFF;
}
.ui-helper-hidden-accessible {
    display: none;
}