{% extends "base.html" %}

{% block content %}

 <h1>Food Adder</h1>

        <form action="" method="post" name="order">

            {{ form.crsf_token }}

            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    {{ error }}
                {% endfor %}
            {% endfor %}

            Company: {{ form.company }}
            <b>Please enter description:</b>
            {{ form.description }}

                {{ form.cost }}

                {{ form.date_available_from }}


                {{ form.date_available_to }}

            <p><input type="submit" value="commit" class="button"
                      align="right"></p>
        </form>

{% endblock %}