{% extends "base.html" %}

{% set page_id = 'add_food' %}

{% block content %}

    <div class="large-6 columns">
        <h3>Add food</h3>

        <form action="" method="post" name="order">

            {{ form.crsf_token }}

            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <div data-alert class="alert-box alert radius">
                        {{ error }}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="small-12 columns">
                Company {{ form.company }}
                Description {{ form.description }}
            </div>
            <div class="small-4 columns">
                <label for="right-label" class="right">Cost</label>
            </div>
            <div class="small-8 columns">
                {{ form.cost }}
            </div>
            <div class="small-4 columns">
                <label for="right-label" class="right">Type</label>
            </div>
            <div class="small-8 columns">
                {{ form.o_type }}
            </div>
            <div class="small-4 columns">
                <label for="right-label" class="right">Available from</label>
            </div>
            <div class="small-8 columns">
                {{ form.date_available_from }}
            </div>

            <div class="small-4 columns">
                <label for="right-label" class="right">Available to</label>
            </div>
            <div class="small-8 columns">
                {{ form.date_available_to }}

                <input type="submit" value="add" class="button right"
                       name="add_meal">

                <input type="submit" value="bulk" class="button center"
                       name="add_meal">
                </div>
        </form>
    </div>

<div class="large-6 columns">
<h4>How to add many</h4>
        To add few meal at one time separate them with enter and click bulk,
        all meals will be added with same company, cost, dates and type.
<hr><h4>If something gone wrong</h4>
        To add meal of a day from "Pod Koziołek" click <a href="{{ url_for("add_daily_koziolek") }}">here</a>.
<br><br>
    !!! WARNING: use ONLY on MODAY !!!<br>
    To add a weak from "Tomas" click <a href="{{ url_for("get_week_from_tomas_view") }}">here</a>.<br>
    !!! WARNING: use ONLY on MODAY !!!


<hr>
<h4>Edit today's meals</h4>

        Daily menu
        <ul class="tabs" data-tab role="tablist">
            {% for comp in companies_current %}
                <li class="tab-title"><a
                        href="#c{{ comp.id }}">{{ comp.name }}</a></li>
            {% endfor %}
        </ul>


        <div class="tabs-content">
            {% for comp in companies_current %}
                <div class="content" id="c{{ comp.id }}">
                        <ul>
                        {% for meal in foods %}
                            {% if meal.company == comp.name and meal.o_type != 'menu' %}
                                <li>
                                <a href="{{ url_for('food_edit_view', food_id=meal.id) }}">
                                    {{ meal.description }}
                                    (<b>{{ meal.cost }} PLN</b>)
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
               </ul>
                </div>


            {% endfor %}
        </div>

        Standard menu
         <ul class="accordion" data-accordion>


                {% for comp in companies_menu %}
                    <li class="accordion-navigation">
                    <a href="#cm{{ comp.id }}">{{ comp.name }}</a>

                    <div id="cm{{ comp.id }}" class="content">
                        <ul>
                        {% for meal in foods %}
                            {% if meal.company == comp.name and meal.o_type == 'menu' %}
                                <li>
                                <a href="{{ url_for('food_edit_view', food_id=meal.id) }}">
                                    {{ meal.description }}
                                    (<b>{{ meal.cost }} PLN</b>)
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    </div>
                    </li>
                {% endfor %}

        </ul>
                    </div>


        <script src="{{ url_for('static', filename='js/foundation/foundation.accordion.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation/foundation.tooltip.js') }}"></script>

<script>
        $(document).foundation({
            accordion: {
                callback: function (accordion) {
                }
            }
        });
    </script>
    <script src="{{ url_for('static', filename='js/foundation/foundation.tab.js') }}"></script>
    <script>
        $(document).foundation({
            tab: {
                callback: function (tab) {
                }
            }
        });
    </script>
{% endblock %}