<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>STX Lunch</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/normalize2.css') }}"
          media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/foundation.css') }}"
          media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/general_foundicons.css') }}"
          media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/stx_style.css') }}"
          media="all" rel="stylesheet" type="text/css"/>
    <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation/foundation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation/foundation.alert.js') }}"></script>

    <link rel="shortcut icon"
          href="{{ url_for('static', filename='img/favicon.ico') }}"
          type="image/x-icon">

    {% block script %}
    {% endblock %}

    <div id="main">
        <div class="large-12 columns">
            <ul class="title-area">
                <h1>STX Lunch</h1>


                {% if current_user and current_user.is_authenticated() %}
                    <nav class="top-bar" data-topbar role="navigation">

                        <section class="top-bar-section">
                            <ul class="right">
                                <li class="hi_user">
                                    <a>  {{ current_user.username }} </a>
                                </li>

                            </ul>
                            <ul class="left">
                                <li {% if page_id == 'overview' %}
                                    class="active" {% endif %}><a
                                        href="{{ url_for('overview') }}">Overview</a>
                                </li>
                                <li {% if page_id == 'create_order' %}
                                    class="active" {% endif %}><a
                                        href="{{ url_for('create_order') }}">Order</a>
                                </li>

                                <li {% if page_id == 'info' %}
                                    class="active" {% endif %}><a
                                        href="{{ url_for('info') }}">Info</a>
                                </li>
                                <li class="has-dropdown not-click {% if page_id == 'orders_lists' %}
                                    active{% endif %}"><a
                                        href="{{ url_for('order_list') }}">Order
                                    list
                                </a>
                                    <ul class="dropdown">
                                        <li {% if page_id == 'my_orders' %}
                                            class="active" {% endif %}>
                                            <a href="{{ url_for('my_orders') }}">
                                                My orders
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                {% if current_user.is_admin() %}
                                    <li class="divider"></li>
                                    <li {% if page_id == 'add_food' %}
                                        class="active" {% endif %}><a
                                            href="{{ url_for('add_food') }}">Add
                                        food</a>
                                    </li>
                                    <li {% if page_id == 'day_summary' %}
                                        class="active" {% endif %}><a
                                            href="{{ url_for('day_summary') }}">Day
                                        summary</a></li>
                                    </li>
                                    <li {% if page_id == 'company_summary' %}
                                        class="active" {% endif %}><a
                                            href="{{ url_for('company_summary_view') }}">
                                        Company summary</a>
                                    </li>
                                    </li>
                                    <li {% if page_id == 'finance_main' %}
                                        class="active" {% endif %}><a
                                            href="{{ url_for('finance', year=get_current_year(), month=get_current_month(), did_pay=0) }}">
                                        Finance</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </section>
                    </nav>
                {% endif %}
        </div>
    </div>

    <div class="large-12 columns">

        <div id="messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div data-alert class="alert-box success radius">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        </div>

    </div>
</head>

<body>
<div class="row">
    {% block content %}
    {% endblock %}
</div>
</body>

<bottom>
    <div class="large-12 columns small-text-right">

        <hr>
        <h6>Created by <a href="http://stxnext.pl/">STXNext</a> in 2015</h6>
    </div>
</bottom>
</html>