{% extends "base.html" %}

{% set page_id = 'company_summary' %}

{% block content %}

    <div class="large-6 columns">
        <h2>Orders by company</h2>
        <h5>{{ pub_date['month'] }} {{ pub_date['year'] }}</h5>
        {% for comp in orders_data %}
            <div class="large-6 columns">

                <h4>{{ comp }}</h4>
            </div>
            <div class="large-6 columns">
                <h4>{{ orders_data[comp] }} PLN</h4>
            </div>
        {% endfor %}
    </div>
{% endblock %}
