{% extends "base.html" %}

{% set page_id = 'day_summary' %}

{% block content %}
<div class="large-12 columns">
    <div class="large-6 columns">
    <h2>Today orders</h2>
        </div>
    <div class="large-6 columns">
        <h3 class="right">Ordering is
            {% if ordering_is_active() %}<a style="color: green">active</a>
            {% else %}<b style="color: red">blocked</b>
            {% endif %}</h3>
    </div>
    </div>
        <div class="large-6 columns">
        <h3>Tomas</h3>

        <div class="large-9 columns">
            <h4>12:00</h4>
        </div>
        <div class="large-3 columns">
            <h4>{{ orders_t_12_cost }} PLN</h4>
        </div>
        {% for order in orders_t_12 %}

            <a href="{{ url_for('edit_order', order_id=order.id) }}">

                <li> {{ order.description }} {{ order.meal_from_list }}
                    <b> {{ order.cost }} PLN </b></li>

            </a></span>
        {% endfor %}
        <div class="large-9 columns">
            <h4>13:00</h4>
        </div>
        <div class="large-3 columns">
            <h4>{{ orders_t_13_cost }} PLN</h4>
        </div>
        {% for order in orders_t_13 %}
            <a href="{{ url_for('edit_order', order_id=order.id) }}">
                <li> {{ order.description }} {{ order.meal_from_list }}
                    <b> {{ order.cost }} PLN </b></li>
            </a>
        {% endfor %}

    </div>
    <div class="large-6 columns">
        <h3>Pod Koziłkiem</h3>

        <div class="large-9 columns">
            <h4>12:00</h4>
        </div>
        <div class="large-3 columns">
            <h4>{{ orders_pk_12_cost }} PLN</h4>
        </div>
        {% for order in orders_pk_12 %}
            <span title="{{ order.user_name }}">
            <a href="{{ url_for('edit_order', order_id=order.id) }}">
                <li> {{ order.description }} {{ order.meal_from_list }}
                    <b> {{ order.cost }} PLN </b></li>
            </a></span>
        {% endfor %}
        <div class="large-9 columns">
            <h4>13:00</h4>
        </div>
        <div class="large-3 columns">
            <h4>{{ orders_pk_13_cost }} PLN</h4>
        </div>
        {% for order in orders_pk_13 %}
            <a href="{{ url_for('edit_order', order_id=order.id) }}">
                <li> {{ order.description }} {{ order.meal_from_list }}
                    <b> {{ order.cost }} PLN </b></li>
            </a>
        {% endfor %}
    </div>
    <br>
    <br>
    <a href="{{ url_for('finance_block_ordering') }}" class="button alert right">Block ordering</a>
    <a href="{{ url_for('finance_unblock_ordering') }}"  class="button success right">Unblock ordering</a>
{% endblock %}