{% extends "base.html" %}

{% set page_id = 'day_summary' %}

{% block content %}


    <h2>Today Orders</h2>
    <div class="large-6 columns">
    <h3>Tomas</h3>
    <div class="large-9 columns">
     <h4>12:00</h4>
    </div>
    <div class="large-3 columns">
     <h4>{{ orders_t_12_cost }} pln</h4>
    </div>
        {% for order in orders_t_12 %}
                  <li> {{ order.description }} {{ order.meal_from_list }} <b> {{ order.cost }} pln </b></li>
        {% endfor %}
        <div class="large-9 columns">
     <h4>13:00</h4>
    </div>
    <div class="large-3 columns">
     <h4>{{ orders_t_13_cost }} pln</h4>
    </div>
        {% for order in orders_t_13 %}
                  <li> {{ order.description }} {{ order.meal_from_list }}  <b> {{ order.cost }} pln </b></li>
        {% endfor %}

    </div>
    <div class="large-6 columns">
    <h3>Pod Koziłkiem</h3>
            <div class="large-9 columns">
     <h4>12:00</h4>
    </div>
    <div class="large-3 columns">
     <h4>{{ orders_pk_12_cost }} pln</h4>
    </div>
            {% for order in orders_pk_12 %}
                  <li> {{ order.description }} {{ order.meal_from_list }}  <b> {{ order.cost }} pln </b></li>
        {% endfor %}
        <div class="large-9 columns">
     <h4>13:00</h4>
    </div>
    <div class="large-3 columns">
     <h4>{{ orders_pk_13_cost }} pln</h4>
    </div>
        {% for order in orders_pk_13 %}
                  <li> {{ order.description }} {{ order.meal_from_list }}  <b> {{ order.cost }} pln </b></li>
        {% endfor %}
    </div>
{% endblock %}