{% extends "base.html" %}

{% set page_id = 'finance_mail_all' %}

{% block content %}
    <div class="large-12 columns">

        {% include "finance_base.html" %}

        <div class="large-6 columns">
            <h3>Mail all</h3>
            <ul>
                {% for user in finance_data.values() %}
                    <li style="color: {% if user['did_user_pay'] %} darkgreen {% else %} red {% endif %}">{{ user['username'] }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="large-6 columns">
            <form method="POST">
                <div>
                Click to send mail to everyone with their monthly summary for previous month.<br>
                <input type="submit" value="all" class="button right" name="send_mail">
                    </div><br><br>
                   <br><br>
                <div>
                Click to send reminder mail to everyone who did <b>not</b> pay for previous month. <br>(red ones)<br>
                <input type="submit" value="remind_all" class="button right" name="send_mail">
                </div>

        </form>
    </div>

    </div>
{% endblock %}