{% extends "base.html" %}

{% set page_id = 'finance_block_user' %}

{% block content %}
<div class="large-12 columns">
    {% include "finance_base.html" %}

    <div class="large-6 columns">
        <h3>Block</h3>

        <form method="POST">
            I want to<b style="color: red"> block </b>this user:
            {{ form_block.user_select }}

            <input type="submit" value="block" class="button right" name="block_change">
        </form>
    </div>
    <div class="large-6 columns">
        <h3>Unblock</h3>

        <form method="POST">
             I want to <b style="color: greenyellow">unblock</b> this user:
            {{ form_unblock.user_select }}


             <input type="submit" value="unblock" class="button right" name="block_change">

        </form>
    </div>
    </div>
{% endblock %}