{% extends "base.html" %}

{% set page_id = 'finance_mail_all' %}

{% block content %}
    <div class="large-12 columns">
        {% include "finance_base.html" %}

        <div class="large-6 columns">
            <h3>Mail all</h3>
            <ul>
                {% for user in finance_data.values() %}
                    <li>{{ user['username'] }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="large-6 columns">
            <form method="POST">
                Click to send mail to everyone with their monthly summary.
                <input type="submit" value="submit" class="button right">

            </form>
        </div>
    </div>
{% endblock %}