{% extends "base.html" %}

{% set page_id = 'order' %}

{% block content %}
    <div class="large-12 columns">
        <div class="large-6 columns">
            <h3>{{ food_event.event_name }} event
                {% if food_event.active %}<a style="color: green">is active</a>
                {% else %}<b style="color: red">has ended</b>
                {% endif %}</h3>
            Food type:
            {% if food_event.other_food_type %}{{ food_event.other_food_type }}
            {% else %}{{ food_event.food_type }}{% endif %}<br>
            Food Company: {{ food_event.food_company }}<br>
            Menu: {{ food_event.menu }}<br>
            Deadline for
            ordering: {{ food_event.deadline_for_ordering.strftime('%H:%M') }}<br>
            ETA: {{ food_event.eta.strftime('%H:%M') }}<br>
            ETA: {{ food_event.created_by_user }}<br>
            {% if food_event.active %}
                <form method="POST" name="food_event_form">
                    <br>
                    <b>Ordered Food </b>
                    <br>(copy only the name if you don't edit the
                    ingridients)
                    {{ form.description }}

                    <b>Cost</b>
                    <br>
                    {{ form.cost }}
                    <input type="submit" value="pizza" class="button right">
                </form>
            {% endif %}
            <br><br>
        </div>

        <div class="large-6 columns">
            <h3>{{ food_type }} Orders:</h3>
            {% if users_orders %}
                <table width='100%'>
                    <thead>
                    <tr>
                        <th>Food</th>
                        <th>Cost</th>
                        <th>User</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in users_orders %}
                        <tr>
                            <td>{{ users_orders[order]['food'] }}</td>
                            <td>{{ users_orders[order]['cost'] }}</td>
                            <td>{{ order }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><b class="right">Total Cost</b></td>
                        <td><b class="right">{{ total_cost }}</b></td>
                        <td> </td>
                    </tr>

                    </tbody>
                </table>
            {% else %}
                Non yet...
            {% endif %}
        </div>
    </div>
{% endblock %}