{% extends "base.html" %}

{% set page_id = 'food_event_start' %}

{% block content %}

    <div class="large-6 columns">
        <h3>Order list</h3>

        <form method="POST">

            <b>Event Name</b>
            {{ form.event_name }}
            <b>Food Type</b>
            {{ form.food_type }}
            <div id="other_food_type" style="display: none">
                <b>Other</b>
                {{ form.other_food_type }}
            </div>
            <b>Company</b>
            {{ form.food_company }}
            <b>Menu (link)</b>
            {{ form.menu }}
            <b>Dead line for ordering</b>
            {{ form.deadline_for_ordering }}
            <b>ETA</b>
            {{ form.eta }}

            <input type="submit" value="submit" class="button right">

        </form>
    </div>
    <script>
        $('#food_type').change(function () {
            if ($('#food_type').val() === 'other') {
                $('#other_food_type').css({display: "block"});
            } else {
                $('#other_food_type').css({display: "none"});
            }
        });
    $('#deadline_for_ordering').timepicker({
        'scrollDefault': 'now',
        'timeFormat': 'H:i'
    });
    $('#eta').timepicker({
        'scrollDefault': 'now',
        'timeFormat': 'H:i'
    });
    </script>
{% endblock %}