{% extends "base.html" %}

{% set page_id = 'edit_food' %}

{% block content %}
    <script type="text/javascript">
        function confirmation() {
            swal({
                        title: "Are you sure?",
                        text: "Are You sure You want delete food, there is no way to undo it !",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: '#DD6B55',
                        confirmButtonText: 'Yes, delete it',
                        cancelButtonText: "No",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                    function (isConfirm) {
                        if (isConfirm) {
                            window.location = "{{ url_for('delete_food', food_id=food.id) }}";
                        } else {
                            swal("OK maybe next time");
                        }
                    });
        }
    </script>

    <div class="large-6 columns">
        <h3>Edit food</h3>

        <form action="" method="post" name="order">

            {{ form.crsf_token }}

            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <div data-alert class="alert-box alert radius">
                        {{ error }}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="small-12 columns">
                Company {{ form.company }}
                Description {{ form.description }}
            </div>
            <div class="small-4 columns">
                <label for="right-label" class="right">Cost</label>
            </div>
            <div class="small-8 columns">
                {{ form.cost }}
            </div>
            <div class="small-4 columns">
                <label for="right-label" class="right">Type</label>
            </div>
            <div class="small-8 columns">
                {{ form.o_type }}
            </div>
            <div class="small-4 columns">
                <label for="right-label" class="right">Available from</label>
            </div>
            <div class="small-8 columns">
                {{ form.date_available_from }}
            </div>

            <div class="small-4 columns">
                <label for="right-label" class="right">Available to</label>
            </div>
            <div class="small-8 columns">
                {{ form.date_available_to }}

                <a class="button alert left"
                   onclick="confirmation()">delete</a>
                <input type="submit" value="save" class="button right"
                       name="add_meal">

            </div>
        </form>

    </div>


{% endblock %}