{% extends "base.html" %}

{% set page_id = 'info' %}

{% block content %}

    <h1>Lunch Info</h1>
    <h3>Info about lunch's</h3>
    Podgląd zamówień:
    MINIMALNE ZAMÓWIENIE Z KAŻDEGO MIEJSCA TO 3-4 POZYCJE  NA DANĄ GODZINĘ!!!!<br>
    TOMAS CATERING - menu na co dzień:<br>
    <a href="http://www.tomas.net.pl/niagara.php">http://www.tomas.net.pl/niagara.php</a><br>
    <br>
    POD KOZIOŁKIEM - menu tygodniowe- wszystkie dania możemy zamawiać przez cały tydzień:<br>
    <a href="https://docs.google.com/a/stxnext.pl/spreadsheet/ccc?key=0Ag0zT3CcjtSkdF9fVU4zbUhCZ2trWlUzamZBV0hESVE#gid=2">Menu Koziolek</a><br>
    <br>ZESTAW DNIA POD KOZIOŁKIEM - <a href="http://www.pod-koziolkiem.pl/">http://www.pod-koziolkiem.pl/</a>

{% endblock %}