{% extends "base.html" %}

{% set page_id = 'my_orders' %}

{% block content %}
    <div class="large-12 columns">
        <h3>My orders</h3>
        <h5>Total cost - {{ orders_cost }} PLN</h5>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Company</th>
                <th>Cost</th>
                <th>Description</th>
                <th>Report</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>

                    <td>{{ order.date.strftime('%Y-%m-%d')  }}</td>
                    <td>{{ order.company }}</td>
                    <td>{{ order.cost }} PLN</td>
                    <td>
                        <a href="{{ url_for('order_details', order_id=order.id) }}">
                            {% if order.description.startswith('!RANDOM ORDER!') and make_date(order.date) == get_current_date() %}
                                !RANDOM ORDER!
                                {% else %}{{ order.description }} {% endif %}</a>
                    </td>
                <td><a href="{{ url_for('conflict_create', order_id=order.id) }}">report</a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}