{% extends "base.html" %}

{% block content %}

<h1>My new order</h1>
  <form action="" method="post" name="order">
      <p>
          {{ form.crsf_token }}
          {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                                {% for error in field_errors %}
                                <br /><span style="margin-left:15px">- {{ error }}</span>
                                {% endfor %}
                        {% endfor %}
      <br>
          <b>Please enter your Order:</b><br>
          {{ form.description }}<br>
          <br>
          Cost: {{ form.cost }}<br>
          <br>
          Arrival Time: {{ form.arrival_time }}<br>
          <br>
          Company: {{ form.company }}<br>
          <br>
          I want a copy on my e-mail: {{ form.send_me_a_copy }}<br>
      </p>
      <p></p>
      <p><input type="submit" value="commit"></p>
  </form>

{% endblock %}