{% extends "base.html" %}

{% set page_id = 'order' %}

{% block content %}

    <script src="{{ url_for('static', filename='js/order_script.js') }}"></script>



    <div class="large-6 columns">
        <h3>Available meals</h3>

        <p>

        <ul class="square">
            <h5>Tomas</h5>
            {% for meal in foods %}
                {% if meal.company == 'Tomas' and meal.o_type != 'menu' %}
                    <li>
                 <span data-tooltip aria-haspopup="true" class="has-tip"
                       title="{% if meal.o_type == 'tygodniowe' %}Meal available for some time only{% elif meal.o_type == 'daniednia' %}Meal available only today!{% elif meal.o_type == 'menu' %}Meal available always{% endif %}">
                            <i class="{% if meal.o_type == 'tygodniowe' %}foundicon-calendar{% endif %}{% if meal.o_type == 'daniednia' %}foundicon-star{% endif %}{% if meal.o_type == 'menu' %}foundicon-folder{% endif %}"></i></span>
                        <a class='meal_menu_link'
                           data-desc="{{ meal.description }}"
                           data-cost="{{ meal.cost }}"
                           data-comp="{{ meal.company }}"
                           href="#">
                            {{ meal.description }}
                            (<b>{{ meal.cost }} PLN</b>)
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            <h5>Pod Koziłkiem</h5>
            {% for meal in foods %}
                {% if meal.company == 'Pod Koziołkiem' and meal.o_type != 'menu' %}
                    <li>
                <span data-tooltip aria-haspopup="true" class="has-tip"
                      title="{% if meal.o_type == 'tygodniowe' %}Meal avalaible for some time only{% elif meal.o_type == 'daniednia' %}Meal available only today!{% elif meal.o_type == 'menu' %}Meal available always{% endif %}">
                            <i class="{% if meal.o_type == 'tygodniowe' %}foundicon-calendar{% endif %}{% if meal.o_type == 'daniednia' %}foundicon-star{% endif %}{% if meal.o_type == 'menu' %}foundicon-folder{% endif %}"></i></span>
                        <a class='meal_menu_link'
                           data-desc="{{ meal.description }}"
                           data-cost="{{ meal.cost }}"
                           data-comp="{{ meal.company }}"
                           href="#">
                            {{ meal.description }}
                            (<b>{{ meal.cost }} PLN</b>)
                        </a>
                    </li>

                {% endif %}
            {% endfor %}

        </ul>
        <ul class="accordion" data-accordion>
            <li class="accordion-navigation">
                <a href="#panel1a">Food from standard Menu</a>

                <div id="panel1a" class="content">
                    {% for meal in foods %}
                        {% if meal.o_type == 'menu' %}
                            <span data-tooltip aria-haspopup="true"
                                  class="has-tip"
                                  title="{% if meal.o_type == 'tygodniowe' %}Meal available for some time only{% elif meal.o_type == 'daniednia' %}Meal available only today!{% elif meal.o_type == 'menu' %}Meal available always{% endif %}">
                            <i class="{% if meal.o_type == 'tygodniowe' %}foundicon-calendar{% endif %}{% if meal.o_type == 'daniednia' %}foundicon-star{% endif %}{% if meal.o_type == 'menu' %}foundicon-folder{% endif %}"></i></span>
                            <a class='meal_menu_link'
                               data-desc="{{ meal.description }}"
                               data-cost="{{ meal.cost }}"
                               data-comp="{{ meal.company }}"
                               href="#">
                                {{ meal.description }}
                                (<b>{{ meal.cost }} PLN</b>)</a>
                            <br>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
        </ul>


    </div>


    <div class="large-6 columns">
        <form id="myform" action="" method="post" name="order">
            {{ form.crsf_token }}
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <div data-alert class="alert-box alert radius">
                        {{ error }}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endfor %}
            {% endfor %}

            <h3>Please enter your order <a href="{{ url_for('random_food') }}" class="button tiny alert right">Random Order</a></h3>
            <b>&larr; Click on the list to fill your order</b><br>

            or write
            {{ form.description }}
            cost {{ form.cost }}
            arrival time {{ form.arrival_time }}
            company {{ form.company }}

            I want a copy on my e-mail
            <div class="switch small">
                {{ form.send_me_a_copy }}
                <label for="send_me_a_copy"></label>
            </div>

            <input type="submit" value="send" class="button right">
            <input id="reset" type="reset" value="reset" class="button left">
        </form>

    </div>

    <script src="{{ url_for('static', filename='js/foundation/foundation.accordion.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation/foundation.tooltip.js') }}"></script>

    <script>
        $(document).foundation({
            accordion: {
                callback: function (accordion) {
                }
            }
        });
    </script>


{% endblock %}
