{% extends "base.html" %}

{% set page_id = 'order_edit' %}

{% block content %}

    <script type="text/javascript">
        <!--
        function confirmation() {
            var answer = confirm("Are You sure You want delete order, there is no way to undo it !")
            if (answer) {
                window.location = "{{ url_for('delete_order', order_id=order.id) }}";
            }
            else {
                alert("OK maybe next time")
            }
        }
        //-->
    </script>

    <div class="large-6 columns">
        <h3>Edit order</h3>

        <form method="POST">
            <b>Date</b>
            {{ form.date }}
            <b>Arrival time</b>
            {{ form.arrival_time }}
            <b>Company</b>
            {{ form.company }}
            <b>Cost</b>
            {{ form.cost }}
            <b>Description</b>
            {{ form.description }}
            <b>User</b>
            {{ form.user_name }}


            <input type="submit" value="save" class="button right">
        </form>

        <a class="button alert left" onclick="confirmation()">delete</a>

    </div>
    </div>
{% endblock %}