{% extends "base.html" %}

{% set page_id = 'my_orders' %}

{% block content %}
    <div class="large-8 columns">

        <h2>Past orders</h2>

        <h3>{{ pub_date['year'] }}: {{ pub_date['month'] }}</h3>
        <h4> Month cost: {{ orders_cost }} pln</h4>

        <p>
            {% for order in orders %}

                <li>
                    <a href="{{ url_for('order_details', order_id=order.id) }}">
                        {{ order.date }} {{ order.company }}
                        <b>{{ order.cost }}
                            pln </b>{{ order.description }}
                    </a>
                </li>
            {% endfor %}
    </div>



{% endblock %}