{% extends "base.html" %}

{% set page_id = 'order_edit' %}

{% block content %}

    <div class="large-6 columns">
        <h3>Edit order</h3>

        <form method="POST">
            <b>Date</b>
            {{ form.date }}
            <b>Arrival time</b>
            {{ form.arrival_time }}
            <b>Company</b>
            {{ form.company }}
            <b>Cost</b>
            {{ form.cost }}
            <b>Description</b>
            {{ form.description }}
            <b>User</b>
            {{ form.user_name }}


            <input type="submit" value="save" class="button right">

        </form>
    </div>
    </div>
{% endblock %}