<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>STX Lunch</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/normalize2.css') }}"
          media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/foundation.css') }}"
          media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/general_foundicons.css') }}"
          media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/stx_style.css') }}"
          media="all" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="large-12 columns">
    <h3>Orders for {{ date }}</h3>
    <table width='100%'>
        <thead>
        <tr>
            <th>User</th>
            <th>Company</th>
            <th>Food</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.user_name }}</td>
                <td>{{ order.company }} </td>
                <td>
                    {% if order.description.startswith('!RANDOM ORDER!') and make_date(order.date) == get_current_date() %}
                        <b style="color: red">{{ order.description }}</b>{% else %}
                        {{ order.description }}{% endif %}</td>
                <td>{{ order.arrival_time }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
</body>

<div class="large-12 columns small-text-right">

    <hr>
    <h6>Created by <a href="http://stxnext.pl/">STXNext</a> in 2015</h6>
</div>

</html>